.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.labels{
font-size: 22px;
padding-bottom:30px !important;
}

button{
  font-size: 14px;
  padding:10px;
  background-color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

button:hover{
cursor: pointer;
}